@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Regular.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #F3F8FF;
}

#contenedor-barra{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#container-cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-user-nav{
    width: 45.64px;
    height: 45.64px;
    margin-right: 12px;
}
#user-name-nav{
    margin-right: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.1917px;
    line-height: 23px;

    color: #29343E;

}
#container-searchbar{
    background: #FFFFFF;
    border: 1px solid #0A3D78;
    border-radius: 4px;
    height: 40px;
    width: 70%;
    margin-right: 60px;
    margin-left: 60px;
}

#icon-search{
    margin-left: 9px;
    transform: translateY(7px);
}

#container-searchbar input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.1917px;
    line-height: 23px;
    color: #868686;
}

#container-searchbar input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.1917px;
    line-height: 23px;
    color: #29343E;
    width: 90%;
    border: none;
    outline: none;
}

.img-user{
    object-fit: cover;
    border-radius: 50%;
}

.item-nav{
    display: inline-block;
}

#notificacion-icn{
    width: 22.59px;
    height: 22.59px;
    margin-right: 20px;
}

.sidebar{
    position: fixed;
    width: 214px;
}

.sidebar ul li a{
    height: 40px;
    outline: none;
  text-decoration: none;
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 44px;
color: #222222;

}

.sidebar ul li{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.sidebar ul li a span{
    margin-left: 20px;
}


.select-item{
    background: rgba(0, 0, 0, 0.04);
    border-radius: 0px 20px 20px 0px;
}

.sidebar ul li:hover{
    background: rgba(0, 0, 0, 0.02);
    border-radius: 0px 20px 20px 0px;
    transition: 0.4s;
}

.flecha-item{
    float: right;
    margin-top: 14px;
    margin-right: 18px;
    -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 transform: rotate(-90deg);
}

.icon-item{
    padding-top: 11px;
}

#main{
    margin-left: 214px;
    padding: 0px 20px 20px 20px;
}

#gruposBotones{
    border: 1px solid #111827;
    filter: drop-shadow(0px 10px 15px rgba(17, 24, 39, 0.1));
    border-radius: 10px;
    float: left;
    padding: 4px;
}

.gruposeleccionado{
    background: #111827;
    border: 1px solid #111827;
    border-radius: 8px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    color: #FFFFFF;

    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;


    border: none;
}


.gruponoseleccionado{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    color: #111827;
    
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    border-radius: 8px;
    border: none;
}

#bombon{
    float: left;
    width: 100%;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 33px;
}

#grid{
    display: grid;
    gap: 37px 68px;
    grid-template-columns: 404px 404px;
    padding: 10px;
}


.modal-container{
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    
    
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
}

.hide{
    display: none;
    pointer-events: none;
}

.show{
    display: flex;
    pointer-events: auto;
    
}