body {
    background-color: #EAF2FA;
}

.tarjeta-contenedor {
    width: 934.3390502929688px;
    height: 700px;
}

.rectangle2 {
    border-radius: 20px;
    width: 934.3390502929688px;
    height: 700px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
}

.formulario {
    width: 934.3390502929688px;
    height: 663.9392700195312px;
    padding: 0px;
    background-color: #ffffff;
    position: absolute;
}

.btn-cerrar {
    width: 39.10112380981445px;
    height: 39.10112380981445px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    cursor: pointer;
}

.fabshaded-cancel {
    width: 39.10112380981445px;
    height: 39.10112380981445px;
    border-radius: 17.595504760742188px;
    padding: 7.820224761962891px;
    display: flex;
    flex-direction: column;
    gap: 9.775280952453613px;
    background-color: rgba(229, 229, 229, 0.5);
}

.icon-24 {
    width: 23.460674285888672px;
    height: 23.460674285888672px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 9.775280952453613px;
    left: 7.82px;
    top: 7.82px;
    position: relative;
}

.close {
    width: 23.460674285888672px;
    height: 23.460674285888672px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close2 {
    width: 14.627421379089355px;
    height: 14.627363204956055px;
    left: 4.416449069976807px;
    top: 4.416659832000732px;
    position: absolute;
}

.estilo {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    left: 74px;
    top: 99.93px;
    position: absolute;
}

.inputcontent {
    width: 338px;
    height: 34px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    left: 16px;
    top: 8px;
    position: relative;
}

.label {
    text-align: left;
    vertical-align: text-top;
    font-size: 12px;
    font-family: Inter;
    line-height: auto;
    color: #5570f1;

    padding-bottom: 6px;
}

.typing {
    text-align: left;
    vertical-align: text-top;
    font-size: 14px;
    font-family: Inter;
    line-height: auto;
    color: #5e6366;
    top: 15px;
    left: 0px;
    position: absolute;
}


.aPaterno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 99.94px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.aMaterno {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    top: 200px;
    left: 74px;
    position: absolute;
}

.direccion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 200px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.telefono {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    top: 300px;
    left: 74px;
    position: absolute;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 300px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.tipoUsu {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    top: 400px;
    left: 74px;
    position: absolute;
}

.labelTipo {
    text-align: left;
    vertical-align: text-top;
    font-size: 12px;
    font-family: Inter;
    line-height: auto;
    color: #5570f1;

    padding-top: 10px;
    padding-left: 16px;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 400px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.clave {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    top: 500px;
    left: 74px;
    position: absolute;
}

.grado-estudios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 500px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.especialidad {
    width: 370px;
    height: 50px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(233, 235, 247, 0.8999999761581421);
    top: 600px;
    left: 74px;
    position: absolute;
}

.cedula {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 370px;
    height: 50px;
    left: 490px;
    top: 600px;

    /* Input/focusBackground */

    background: rgba(233, 236, 248, 0.9);
    border-radius: 8px;
}

.frame1 {
    width: 346px;
    height: 34px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.inputcontent4 {
    width: 290px;
    height: 34px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}


.tipo {
    text-align: left;
    vertical-align: text-top;
    font-size: 16px;
    font-family: Inter;
    line-height: auto;
    color: #5e6366;
    padding-left: 20px;
    padding-top: 5px;
}

.titulo-agregar-docente {
    text-align: left;
    vertical-align: text-top;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.37px;
    left: 35px;
    top: 5.93px;
    width: 369px;
    height: 35px;
    position: absolute;
    color: #000000;
}